.headers{
    font-size: 50px;
}
.subHeaders{
    font-size: 20px;
}
.hide{
    display: none;
}
.badges{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    
}
.badge{
    width: 100px;
    height: 100px;
    padding-left: 30px;
    
}
.dropdownContent{
    position: relative;
    margin-left: 10px;
}
