.headers{
    font-size: 50px;
}
.subHeaders{
    font-size: 20px;
}
.hide{
    display: none;
}
.badges{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    
}
.badge{
    width: 100px;
    height: 100px;
    padding-left: 30px;    
}
.DD-Header-format{
    display: flex;
    justify-content: space-between;
}
.DD-img{
    width: 50px;
    /* justify-content: flex-end; */
}
.ddNav{
    display: flex;
    justify-content: center;
}
.rounded{
    border-right: 2px solid grey;
    border-radius: 1px;
}
.dd-list li{
    justify-content: space-evenly;
}
