#badgeContainer{
    padding-top: 40px;
}
/* #landing-nav{
    display: grid;
    grid-template-columns: 2fr 1fr;
} */
#landing-nav ul{
    grid-column: 1;
    margin-left: 10px;
    margin-right: 10px
}
#landing-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
}
#about-txt{
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    gap: 20px;
    row-gap: 50px;
}
#abt-header{
    display: flex;
    justify-content: space-between;
}
#abt-header h1{
    padding-left: 15px;
}

#abt-header img{
    width: 50px;
    justify-content: flex-end;
}
#abt1, #abt2, #abt3{
    margin: 0;
    border-radius: 10px;
    padding-top: 10px;
    text-align: center;
    background-color: lightgrey;
    justify-self: center;
    box-shadow: 3px 3px 10px 5px rgb(0, 0, 0, 0.4);
}
#abt1{
    margin-top: 20px;
    grid-column: 1 / span 2;
    grid-row: 1;
}
#abt2{
    margin-top: 20px;
    grid-column: 1 / span 2;
    grid-row: 2;
}
#abt3{
    grid-column: 1 / span 2;
    grid-row: 3;
    padding-bottom: 5px;
}
#abt-links{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-content: center;
}
#githubBadge, #linkedinBadge, #slackBadge{
    margin-top: 20px;
    justify-content: center;
}
#quote{
    display: none;
}
#node{
    width: 120px;
}
#projectContent{
    display: grid;
    margin-top: 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
}
#projectContent div{
    height: 250px;
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(128, 128, 128, 0.2);
    justify-self:center;
    text-align: center;
    border-radius: 25px;
    box-shadow: 2px 2px 4px 5px rgb(0, 0, 0, 0.4);
}
#comment{
    width: 250px;
    height: 200px;
    text-align: left;
    box-shadow: 2px 2px 4px 5px rgb(0, 0, 0, 0.4);
}
#email{
    width: 250px;
    box-shadow: 2px 2px 4px 5px rgb(0, 0, 0, 0.4);
}
#sub{
    width: 100px;
    box-shadow: 2px 2px 4px 5px rgb(0, 0, 0, 0.4);

}